
{% extends 'base.html' %}

{% load static %}
{% block content %}

        <div class="404-msg flex items-center px-10 lg:px-24 sm:px-10 md:px-10" style="min-height: 400px;">
            <div class="wrapper bg-gray-200 p-8 w-full">
                <h4 class="font-bold text-4xl">Acceptable Information Technology Use Policy</h4>
                <h5 class="font-bold uppercase mt-4">Version 1.0.0</h5>
                <p class="my-6"><pre>
Confidential Document – Internal Use Only 1
Table of Contents
Purpose............................................................................................................................................3
Scope................................................................................................................................................3
Policies.............................................................................................................................................3
Policy#1 - User IDs and Passwords.............................................................................................3
Policy#2 - Electronic Messaging.................................................................................................4
Policy#3 - Internet and Intranet...................................................................................................5
Policy#4 - Internal Systems.........................................................................................................7
Policy#5 - Equipment..................................................................................................................8
Policy#6 - Telephones and Voice Mail........................................................................................9
Policy#7 - Securing Information...............................................................................................10
Policy#8 - Teleworking..............................................................................................................11
Violations.......................................................................................................................................13
Definitions.....................................................................................................................................13
References......................................................................................................................................14
Approval and Ownership................................................................................................………...14
Revision History............................................................................................................................14
Confidential Document – Internal Use Only 2
PURPOSE
This policy defines the activities that are permissible when using any Sky Swift Limited computer and
communications systems.
SCOPE
This policy applies to all users of Sky Swift Limited information assets including but not limited to
Sky Swift Limited employees and partners.
POLICIES
Policy#1 - User IDs and Passwords
• Personal User IDs — Responsibility - Users must be responsible for all activity performed
with their personal user IDs. They must not permit others to perform any activity with their user
IDs, and they must not perform any activity with IDs belonging to other users.
• Access Code Sharing - Sky Swift Limited computer accounts, user IDs, network passwords,
voice mail box personal identification numbers, credit card numbers, and other access codes
must not be used by anyone other than the person to whom they were originally issued.
• Script Files On Portable Computers, PDAs, And Smart Phones - Users must not store cleartext
authentication credentials on portable computers, personal digital assistants, or smart
phones, and must never set-up or employ script files that contain a stored version of a personal
identification number (PIN), a password, or a user-ID which can be used to gain access to a Sky
Swift Limited information system. Likewise, these security parameters should never be stored
anywhere on these devices unless they are in encrypted form.
• Typing Passwords When Others Are Watching - Workers must never type their passwords at
a keyboard or a telephone keypad if others are known to be watching their actions. To do so
unduly exposes the information accessed thereby to unauthorized access.
• Password Structure - Workers must not employ any password structure or characteristic that
results in a password that is predictable or easily guessed including, but not limited to, words in
a dictionary, derivatives of user IDs, common character sequences, personal details, or any part
of speech.
• Suspected Password Disclosure - Each user must immediately change his or her password if
the password is suspected of being disclosed, or known to have been disclosed to an
unauthorized party.
• Password Proximity To Access Devices - Users must never write down or otherwise record a
readable password and store it near the access device to which it pertains.
• Passwords In Communications Software - Users must not store fixed passwords in dial-up
communications programs, Internet browsers, or related data communications software at any
time.
• Dynamic Password Tokens - Dynamic password tokens must not be stored in the same
briefcase or suitcase as portable computers used to remotely access Sky Swift Limited
networks.
Confidential Document – Internal Use Only 3
Policy#2 - Electronic Messaging
• Reasonable Personal Use Of Computer And Communications Systems - Sky Swift Limited
allows computer users to make reasonable personal use of its electronic mail and other
computer and communications systems. All such personal use must be consistent with
conventional standards of ethical and polite conduct. For example, electronic mail must not be
used to distribute or display messages or graphics which may be considered by some to be
disruptive or offensive (such as sexual jokes or pornography).
• Electronic Mail Contracts - All workers must include a notice at the end of each electronic
mail message indicating that the message does not bind Sky Swift Limited to any contract,
position, or course of action unless the worker is specifically authorized to enter into contracts
on behalf of Sky Swift Limited, or otherwise authorized to legally represent Sky Swift
Limited.
• Offensive Electronic Mail Messages - Workers are encouraged to respond directly to the
originator of offensive electronic mail messages, telephone calls, and/or other communications.
If the originator does not promptly stop sending offensive messages, workers must report the
communications to their manager and the Human Resources Department.
• Sending Unsolicited Electronic Mail - Users must not send uninvited or unsolicited electronic
mail (also known as spam) to a large number of recipients. This includes commercial
advertisements, charitable solicitations, questionnaires/surveys, chain letters, and political
statements. If you do send spam and the recipients contact the Sky Swift Limited mail system
administrator with complaints, you will be subject to disciplinary action including loss of
system privileges and termination.
• Identity Misrepresentation - Workers must not misrepresent, obscure, suppress, or replace
their own or another person's identity on any Sky Swift Limited electronic communications.
• Electronic Mail System Usages - Workers must use Sky Swift Limited electronic mail
systems primarily for business purposes, and any personal use must not interfere with normal
business activities, must not involve solicitation, must not be associated with any for-profit
outside business activity, and must not potentially embarrass Sky Swift Limited.
• Permissible Uses Of Instant Messaging Facilities (IM) – Limited Use - Sky Swift Limited
instant messaging (IM) facilities must be used for business purposes only. All Sky Swift
Limited business related IM messages must be sent through the Sky Swift Limited IM system.
Users must not add friends, family, and other non-business users to the system`s buddy lists. If
users wish to send personal instant messages, they must use a consumer IM client to keep
personal information out of the business IM system archive of all messages. The business IM
system may be used for collaboration and coordination only. Contractually binding agreements,
as well as sensitive information, must be sent through other communication channels.
• Electronic Mail And Voice Mail Broadcasts - Broadcast facilities found in electronic mail
systems and voice mail systems must be used only by top management or with top management
approval.
Confidential Document – Internal Use Only 4
Policy#3 - Internet and Intranet
• Forwarding Intranet Information - Workers must not forward information appearing on the
intranet to third parties without first obtaining approval from the Sky Swift Limited
information's Owner.
• Internet Information Modifications - Users connecting to Sky Swift Limited systems
through the Internet must not directly modify any Sky Swift Limited information.
• Department Manager Approval For Internet Software Downloads - Before end-users
download any software from the Internet, run such software on any Sky Swift Limited
computers, and/or use such software with any Sky Swift Limited business information, they
must first obtain a department manager's written approval of the involved software license
agreement. Before providing this approval, a department manager must fully understand the
functionality of the software, and also determine that it is fully compliant with Sky Swift
Limited's information security requirements.
• Internet Discussion Groups - Users must not post to controversial discussion groups on the
Internet or to any other controversial online public forums when using their Sky Swift Limited
User/Account IDs.
• Personal Internet Message Disclaimers - Whenever a worker posts a message to an Internet
discussion group, an electronic bulletin board, or another public information system, without
prior approval from the Public Relations Department, this message must be accompanied by
words clearly indicating that the comments do not necessarily represent the official position of
Sky Swift Limited.
• Internet Product And Service Representations - Workers must not advertise, promote,
present, or otherwise make statements about Sky Swift Limited products and services in
Internet forums such as mailing lists, news groups, or chat sessions without the prior approval
of the Public Relations or Marketing Departments.
• Internet Business Arrangements - Workers must not use Internet connections to establish new
or different business channels, unless the Information Security Manager, the Chief Information
Officer, and the Chief Legal Counsel have all approved in advance.
• Uploading Software - Users must not upload software that has been licensed from a third party,
or software that has been developed by Sky Swift Limited, to any computer through the
Internet unless authorization from the user’s manager has first been obtained.
• Public Electronic Forums - Workers must not use Sky Swift Limited information systems to
participate in Internet discussion groups, chat rooms, or other public electronic forums unless
this participation is expressly authorized by the Public Relations Department.
• Personal Internet Service Provider Accounts - Workers who wish to make a statement in a
public Internet forum about any topic that does not involve Sky Swift Limited business, or Sky
Swift Limited business interests, must use their own personal Internet service provider
accounts to submit such statements.
• Personal Use Of Internet Resources From Remote Locations - Workers must not initiate
connections to the Internet, or otherwise use Internet resources, from remote locations, if this
Confidential Document – Internal Use Only 5
activity goes though Sky Swift Limited systems and/or networks, and if this activity is personal
in nature.
• Access to Social Networking Sites Prohibited - Employees must not access Social
Networking sites at any time using Sky Swift Limited computers or personal computers
connected to Sky Swift Limited networks.
• Sky Swift Limited Information Not Posted on Social Networking Sites - Employees must
not post Sky Swift Limited work-related items - including pictures, names, product
information or commentary on any company activity - on Social Networking or file sharing web
sites.
• After Hours Web Shopping And Auction Business - To ensure that network bandwidth is not
consumed for personal purposes, Sky Swift Limited prohibits personal web shopping and
personal involvement in any on-line auctions during regular business hours.
• Personal Use Of Internet - Use of Sky Swift Limited information systems to access the
Internet for personal purposes will not be tolerated and may be considered cause for disciplinary
action up to and including termination. All users of the Internet should be aware that firewalls
can create a detailed audit log reflecting transmissions, both in-bound and out-bound.
• Internet Connection Approval - Workers must not establish any external network connections
that could permit non-Sky Swift Limited users to gain access to Sky Swift Limited systems
and information, unless prior approval of the Information Technology Department has first
been obtained.
• Large Internet Downloads - Internet users must not use video streaming facilities, audio
streaming facilities, or download large graphics files unless these transmissions are approved in
advance by the user’s immediate supervisor.
• Machines Connected Only To Internal LAN Or Intranet - Workers are forbidden from
connecting any computer to an external network, be it a private or public network, unless the
advance permission of the Information Technology Department has first been obtained.
Workers are permitted to connect computers to the internal local area network or the Sky Swift
Limited intranet, but first they must obtain approval from the Information Technology
Department. Access to all external networks must flow through Sky Swift Limited firewalls
and security controls.
• Workstation Modems - Workers must not connect dial-up modems to workstations, personal
computers, or local area network clients that are simultaneously connected to a local area
network or another internal communication network.
• Sensitive Information Not Accessed from Public Terminals - Employees must not use public
web terminals to access sensitive Sky Swift Limited information.
• Unencrypted Personal Identifiers Sent Via Internet Prohibited - Workers must never
transmit any personally identifiable information unencrypted over the Internet. This prohibition
includes email, instant messaging, chat rooms, and other communication systems.
Confidential Document – Internal Use Only 6
Policy#4 - Internal Systems
• Involvement With Computer Viruses - Users must not intentionally write, generate,
compile, copy, collect, propagate, execute, or attempt to introduce any computer code
designed to self-replicate, damage, or otherwise hinder the performance of any Sky Swift
Limited computer or network.
• Eradicating Computer Viruses - Any user who suspects infection by a virus must immediately
shut-down the involved computer, disconnect from all networks, call the corporate help desk,
and make no attempt to eradicate the virus.
• Software Scanning - Workers must not use any externally-provided software from a person or
organization other than a known and trusted supplier unless the software has been scanned for
malicious code and approved by the Information Security Department or a local information
security coordinator.
• Hacking Activities - Workers must not use Sky Swift Limited information systems to engage
in hacking activities that include, but are not limited to:
▪ Gaining unauthorized access to any other information systems
▪ Damaging, altering, or disrupting the operations of any other information systems
▪ Capturing or otherwise obtaining passwords, encryption keys, or any other access
control mechanism that could permit unauthorized access.
• Circumventing Access and Security Controls - Programmers and other technically-oriented
staff must refrain from installing any code that circumvents the authorized access control
mechanisms found in operating systems or access control packages.
• Testing Information System Controls - Workers must not test, or attempt to compromise
internal controls unless this activity is specifically approved in advance, and in writing, by the
Information Security Manager.
• Encryption Usage Aside From That In Browsers - Aside from the encryption that is built into
Internet browsers, users must not employ encryption of any sort when using computer systems
or networks unless these encryption systems have first been established and approved by the
Information Security Manager.
• Incidental Personal Use Of Computer Communications Systems - Sky Swift Limited
information systems are provided for, and must be used only for business purposes. Incidental
personal use is permissible if the use: (a) does not consume more than a trivial amount of
resources that could otherwise be used for business purposes, (b) does not interfere with worker
productivity, and (c) does not preempt any business activity. Permissible incidental use of an
electronic mail system would, for example, involve sending a message to schedule a luncheon.
• Prohibition Against All Forms Of Adult Content - All forms of adult content (pornography or
what some would consider to be pornography) are prohibited on Sky Swift Limited computers
and networks. This includes content obtained via web sites, email attachments, CD-ROMs, and
file sharing networks.
• Discussions Using Computer and Communication Facilities - Sky Swift Limited internal
computer and communication systems (voice mail systems, electronic bulletin boards,
Confidential Document – Internal Use Only 7
database management systems, and electronic mail facilities, intranet sites, etc.) must not be
used as an open forum to discuss Sky Swift Limited organizational changes or business policy
matters.
• Program Resource Consumption - Computer users must not run or write any computer
program or process that is likely to consume significant system resources or otherwise interfere
with Sky Swift Limited business activities.
• Software Duplication - Users must not copy software provided by Sky Swift Limited to any
storage media, transfer such software to another computer, or disclose such software to outside
parties without written permission from Information Technology Department.
• Unauthorized Software And Data Copies - Sky Swift Limited strongly supports strict
adherence to software vendors' license agreements and copyright holders' notices. If Internet
users or other system users make unauthorized copies of software, the users are doing so on
their own behalf, since all such copying is strictly forbidden by Sky Swift Limited. Likewise,
Sky Swift Limited allows reproduction of copyrighted material only to the extent legally
considered "fair use" or with the permission of either the author or publisher.
Policy#5 - Equipment
• User Installation Of Software - Users must not install software on their personal computers,
network servers, or other machines without receiving advance authorization to do so from a
local information security coordinator.
• Sharing A Personal Computer With Other People Prohibited - Workers must not share their
personal computer, if it is used for Sky Swift Limited business, with any other person. An
exception will be made in those cases, each specifically approved by the Information Security
Department, where a personal computer has been configured so that separate user-IDs and
privilege profiles are supported for each separate user.
• Unattended Active Sessions - If the computer system to which they are connected or which
they are using contains sensitive information, users must not leave their personal computer,
workstation, or terminal unattended without logging out or invoking a password-protected
screen saver.
• Accepting Security Assistance From Outsiders - Users must not accept any form of
assistance to improve the security of their computers without first having the provider of this
assistance approved by the Sky Swift Limited Information Security Department. This means
that users must not accept offers of free consulting services, must not download free security
software via the Internet, and must not employ free security posture evaluation web pages,
unless the specific provider of the assistance has been previously approved.
• Personally-Owned Computer Systems - Workers must not bring their own computers,
computer peripherals, or computer software into Sky Swift Limited facilities without prior
authorization from their department head.
• Games On Organization Computer Systems - Games may not be stored or used on any Sky
Swift Limited computer systems.
Confidential Document – Internal Use Only 8
• Modem Line Registry - Workers must not install or contract for the installation of modem lines
that connect to Sky Swift Limited computers or networks, unless these lines have been
approved by the Telecommunications Department Manager and entered into the organizationwide
modem line registry.
• Auto-Answer Modems - Users must not leave modems connected to personal computers in
auto answer mode, such that they are able to receive in-coming dial-up calls.
• Secret Information On Transportable Computers - Workers possessing a portable, laptop,
notebook, handheld, or other transportable computer containing confidential Sky Swift Limited
information must not leave these devices unattended at any time unless the information
contained therein is exclusively stored in encrypted form.
• Transportable Computers On Airplanes - When traveling by air with a portable, laptop,
notebook, or other transportable computers containing sensitive Sky Swift Limited
information, workers must not check these computers in airline luggage systems.
• Lending Computers Containing Sensitive Information - A personal computer, handheld
computer, transportable computer, personal digital assistant, smart phone, or any other computer
used for business activities that contains sensitive information must not be lent to anyone.
• Portable Computers, PDAs, And Smart Phones Out Of Sight - When stored in a motor
vehicle or in another unattended public place, users must keep all portable computing devices
covered and out of sight. For example, when left in a locked car or in an unattended hotel room,
these devices must be covered and out of sight. These devices include machines such as laptops,
tablet personal computers, personal digital assistants, and smart phones.
• Downloaded Software On PDAs & Smart Phones - If personal digital assistants or smart
phones are used for Sky Swift Limited business activities other than voice conversations and/or
meeting scheduling, do not download and install any software for the device, unless this same
software has been approved for use by the Information Security Department.
• Physical Protection of Wireless Handheld Devices And Network Interface Cards - Wireless
handheld devices, and any other device containing wireless network interface cards (NICs),
must be physically protected by the user from loss, theft, and tampering. To maintain access
control on Sky Swift Limited's internal network, any loss, theft, or tampering of these devices
must be immediately reported to the Help Desk.
• Powering Down Network-Connected Workstations At Night - All personal computers and
workstations connected to the Sky Swift Limited internal network must be powered down and
shut off during non-working hours.
Policy#6 - Telephones and Voice Mail
• Sensitive Information On Answering Machines- Workers must not record messages
containing sensitive information on answering machines or voice mail systems.
• Use Of Softphones That Support VOIP On Personal Computers - Sky Swift Limited
workers must not make telephone calls that communicate confidential or secret information
using softphones that support voice over IP on their personal computers.
Confidential Document – Internal Use Only 9
• Voice Mail Message Storage - Unless they are on vacation or sick leave, users must check their
voice mail at least once every business day. All voice mail messages that are one month old or
older will be deleted.
• Credit Card Calls - Workers must not place direct dial telephone credit card calls though an
external private branch exchange system and instead use a public telephone or another direct
line.
• Personal Telephone Usage - Sky Swift Limited telephones must not be used for personal
purposes, unless the calls cannot be made during off-business hours, in which case, the personal
calls must be kept to a reasonable length.
• Long-Distance Personal Telephone Calls - Sky Swift Limited telephones must not be used to
place personal long-distance calls unless the calls are kept to a reasonable length, reported to
management, and reimbursed to the company.
Policy#7 - Securing Information
• Storing Mixed Classified Information - Sky Swift Limited workers must not store sensitive
information with non-sensitive information on Compact Disks or other removable data storage
media.
• Storage Of Sensitive Information - Sky Swift Limited workers must not store private,
confidential, or secret information on personal computer or workstation hard disk drives unless
the Information Security Manager has determined that adequate information security measures
are employed.
• Disclosing Customer Business Information - Sky Swift Limited workers must not disclose to
anyone outside Sky Swift Limited the nature of customer projects, customer business
strategies, or customer business relationships.
• Disclosure Of Third-Party Information - Sky Swift Limited workers must not disclose
sensitive information that has been entrusted to it by third parties to other third parties unless
the originator of the information has provided advance approval of the disclosure and the
receiving party has signed an approved non-disclosure agreement.
• Trade Secret Disclosure - Workers must diligently protect from unauthorized disclosure all
Sky Swift Limited information specifically identified as trade secrets. Trade secrets must be
identified as such prior to being disclosed to any workers.
• Maintaining Classification Labels - Workers in the possession of any information containing a
Sky Swift Limited data classification sensitivity label must maintain, propagate, and if need be
reestablish this same label whenever the information changes form, format, or handling
technology.
• Copying Sensitive Information - Making additional copies of, or printing of extra copies of
secret, confidential, or private information must not take place without the advance permission
of the Information Owner.
• Securing Sensitive Information - Workers in custody of Sky Swift Limited sensitive
information, such as information classified as Confidential or Secret, must take appropriate
steps to ensure that these materials are not available to unauthorized persons.
Confidential Document – Internal Use Only 10
• Downloading Sensitive Information Approval - Sensitive Sky Swift Limited information
must not be downloaded from a multi-user system to a personal computer or a workstation
unless a clear business need exists and advance permission from the Information Owner has
been obtained.
• Mobile Computer Alternatives - When away from Sky Swift Limited offices, mobile
computer users must utilize either encryption software to protect the sensitive information when
it is held in internal computer system storage, or employ some technique to physically secure
removable media on which the sensitive information resides.
• Record Destruction Schedule - Workers must not destroy Sky Swift Limited records unless
these records appear on a list of records authorized for destruction, or can be destroyed
according to instructions appearing in the Sky Swift Limited Records Retention and
Disposition Schedule.
• Sensitive Information Retention For Destruction - Workers must not discard sensitive
information in publicly-accessible trash containers. They must instead securely retain sensitive
information until it can be shredded or destroyed with other approved methods.
• Portable Computer Backups - Workers who use portable computers must make backups of all
critical information resident on these computers prior to taking out-of-town trips. These
backups must be stored somewhere other than the portable computer’s carrying case.
Policy#8 - Teleworking
• Current Virus Software- Every Sky Swift Limited worker who examines, processes, or stores
Sky Swift Limited information using a computer that he or she owns must install and regularly
run the most current version of a virus detection software package approved by the Information
Security Department.
• Telecommuting Equipment - Employees working on Sky Swift Limited business at
alternative work sites must use Sky Swift Limited-provided computer and network equipment,
unless other equipment has been approved by the Help Desk as compatible with Sky Swift
Limited information systems and controls.
• Telecommuter Working Environments - To retain the privilege of doing off-site work, all
telecommuters must structure their remote working environment so that it is in compliance with
all Sky Swift Limited policies and standards.
• Security Requirements For Telecommuters - Before a telecommuting arrangement can begin,
the worker’s manager must be satisfied that an alternative work site is appropriate for the Sky
Swift Limited work performed by the involved worker.
• Telecommuter Information Security Procedures - Telecommuters must follow all remote
system security policies and procedures including, but not limited to, compliance with software
license agreements, performance of regular backups, and use of shredders to dispose of
sensitive paper-resident information.
• Remote Workers Required to Sign Specific Policy - All Sky Swift Limited employees who
are approved to work from remote locations must sign an agreement to abide by specific remote
worker policies. The agreement should be reviewed annually.
Confidential Document – Internal Use Only 11
• Remote Access Training - Sky Swift Limited workers must complete an approved remote
systems access training course prior to being granted privileges to use dial-up, Internet telnet, or
any other remote access data communications system.
• Organization Property At Alternative Work Sites - The security of Sky Swift Limited
property at an alternative work site is just as important as it is at the central office. At alternative
work sites, reasonable precautions must be taken to protect Sky Swift Limited hardware,
software, and information from theft, damage, and misuse.
VIOLATIONS
Any violation of this policy may result in disciplinary action, up to and including termination of
employment. Sky Swift Limited reserves the right to notify the appropriate law enforcement
authorities of any unlawful activity and to cooperate in any investigation of such activity. Sky Swift
Limited does not consider conduct in violation of this policy to be within an employee’s or partner’s
course and scope of employment, or the direct consequence of the discharge of the employee’s or
partner’s duties. Accordingly, to the extent permitted by law, Sky Swift Limited reserves the right not
to defend or pay any damages awarded against employees or partners that result from violation of this
policy.
Confidential Document – Internal Use Only 12
Any employee or partner who is requested to undertake an activity which he or she believes is in
violation of this policy, must provide a written or verbal complaint to his or her manager, any other
manager or the Human Resources Department as soon as possible.
DEFINITIONS
Confidential Information (Sensitive Information) – Any Sky Swift Limited information that is not
publicly known and includes tangible and intangible information in all forms, such as information that
is observed or orally delivered, or is in electronic form, or is written or in other tangible form.
Confidential Information may include, but is not limited to, source code, product designs and plans,
beta and benchmarking results, patent applications, production methods, product roadmaps, customer
lists and information, prospect lists and information, promotional plans, competitive information,
names, salaries, skills, positions, pre-public financial results, product costs, and pricing, and employee
information and lists including organizational charts. Confidential Information also includes any
confidential information received by Sky Swift Limited from a third party under a non-disclosure
agreement.
Electronic Messaging System – Any device or application that will provide the capability of
exchanging digital communication between two or more parties. Examples are electronic messaging,
instant messaging, and text messaging.
Information Asset – Any Sky Swift Limited data in any form, and the equipment used to manage,
process, or store Sky Swift Limited data, that is used in the course of executing business. This
includes, but is not limited to, corporate, customer, and partner data.
Objectionable Information or Material – Anything that is considered offensive, defamatory, obscene,
or harassing, including, but not limited to, sexual images, jokes and comments, racial or gender-specific
slurs, comments, images or jokes, or any other comments, jokes, or images that would be expected to
offend someone based on their physical or mental disability, age, religion, marital status, sexual
orientation, political beliefs, veteran status, national origin, or ancestry, or any other category protected
by national or international, federal, regional, provincial, state, or local laws.
Partner – Any non-employee of Sky Swift Limited who is contractually bound to provide some form
of service to Sky Swift Limited.
Password – An arbitrary string of characters chosen by a user that is used to authenticate the user when
he attempts to log on, in order to prevent unauthorized access to his account.
User - Any Sky Swift Limited employee or partner who has been authorized to access any Sky Swift
Limited electronic information resource.
REFERENCES
• ISO/IEC 27002
• COBIT Framework
• NIST Special Publication 800-61 Revision 2
APPROVAL AND OWNERSHIP
Confidential Document – Internal Use Only 13
Owner Title Date Signature
Approved By Title Date Signature
REVISION HISTORY
Version Description Revision Date Review
Date
Reviewer/Approver
Name
1.0.0 Initial Version
Confidential Document – Internal Use Only 14</pre></p>
                <a href="{% url 'index' %}" class="text-blue-700 font-bold">Back to Home Page</a>
            </div>
        </div>
{% endblock %}

