<form
   id="eazzycheckout-payment-form"
   action=" https://api-test.equitybankgroup.com/v2/checkout/launch" method="POST">
   <input value="payment token" id="token" name="token"><br><br>
   <input value="ammount"  id="amount" name="amount"><br><br>
   <input value="order ref" id="orderReference" name="orderReference"><br><br>
   <input value="merchantcode" id="merchantCode" name="merchantCode"><br><br>
   <input  id="merchant" name="merchant" value="yourMerchantName"><br><br>
   <input  value="currency" id="currency" name="currency"><br><br>
   <input value="cutomer name" id="custName" name="custName"><br><br>
   <input value="outletcode" id="outletCode" name="outletCode"><br><br>
   <input value="extracode" id="extraData" name="extraData" ><br><br>
   <input value="popuplogo" id="popupLogo" name="popupLogo"><br><br>
   <input value="ez1_callbackurl" id="ez1_callbackurl" name="ez1_callbackurl"><br><br>
   <input  value="ezl_callbackurl" id="ez2_callbackurl" name="ez2_callbackurl"><br><br>
   <input  value="expiry" id="expiry" name="expiry"><br><br>
   <input type="submit" id="submit-cg" role="button" class="btn btn-primary col-md-4"
      value="Checkout"/><br><br>
</form>
